body {
	font-family: consolas;
	font-weight: bold;
	font-size: 72px;
	text-transform: uppercase;
	background-color: #280f40;
	color: #4ecf86;
}

a {
	text-decoration: none;
	transition: color 0.25s;
	color: #4ecf86;
}

	a:hover {
		color: #b4fad2;
	}

.info {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.links {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: inside;
	list-style: none;
	vertical-align: middle;
}

.monkey-container {
	margin: 20px auto;
	width: 400px;
	padding: 0;
	position: relative;
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
}

.monkey-container img {
	max-width: 100%;
	position: absolute;
}

.monkey-container img:last-child {
	position: relative;
	outline: solid;
	outline-width: 5px;
	outline-offset: 5px;
	display: inline-block;
	vertical-align: middle;
}
