.skills {
}

.skills section {
	display: inline-block;
}

.skills ul {
	text-align: left;
	padding: 0;
	margin: 0;
	list-style: inside;
	list-style: none;
	outline: solid;
	outline-width: 5px;
	outline-offset: 10px;
}

.skills li {
	padding-bottom: 5px;
}
