@font-face {
    font-family: lulo;
    src: url("font/Lulo-Clean-W01-One-Bold.ttf");
}

@font-face {
    font-family: opensans;
    src: url("font/OpenSans-Regular.ttf");
}

html {
    display: none;
    overflow-y: scroll;
}

a {
    color: #88B2F2;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #FFA3A3
}


header {
    font-family: lulo;
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    text-transform: uppercase;
    align-items: center;
}

h1 {
    font-size: 2.2vw;
    margin-left: 10px;
}

h1 a {

    color: #FFA3A3;
    text-decoration: none;
    cursor: pointer;
}

img {
    display: block;
    image-rendering: optimizeQuality;
}

footer {
    font-size: 14px;
    font-family: opensans;
    text-align: center;
}

.copyright {
    margin-top: 30px;
}

.header-title {
    max-width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
}

.header-title img {
    height: 100%;
}

.navbar {
    font-size: 16px;
    font-weight: bold;
    font-family: opensans;
    text-align: right;
    margin-bottom: 10px;
    cursor: pointer;
    padding-right: 0.5rem;
}

.navbar ul {
    padding: 0;
}

.navbar li {
    padding-left: 15px;
}

.navbar * {
    margin: 0;
    display: inline-block;
}

.active {
    color: #808080;
}

.theater {
    cursor: pointer;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128,128,128,0.5);
}

.theater img {
    z-index: 1000;
    background-color: white;;
    padding: 1rem;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.container {
    max-width: 50%;
    margin: 0 auto;
    padding: 0 2rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-column {
    flex: 33.333%;
    max-width: 33.333%;
}

.gallery-item {
    vertical-align: middle;
    padding: 0.5rem;
}

.gallery-item img {
    opacity: 100%;
}

.gallery-item img:not(.no-hover):hover {
    opacity: 75%;
    cursor: pointer;
}


.gallery-item img {
    width: 100%;
}

.about {
    margin-top: 25px;
    margin-bottom: 75px;
}

.about h2 {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-family: lulo;
    margin-bottom: 15px;
}

.about span {

    display: block;
    width: 75%;
    margin: 0 auto;
    font-family: opensans;
    justify-content: center;
}

.about img {
    display: block;
    margin: 0 auto;
}



@media screen and (max-width: 992px) {
    .container {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }

    header {
        margin: 0;
    }

    h1 {
        font-size: 5vw;
        margin-left: 10px;
    }

    .about {
        font-size: 2.5vw;
    }

    .faq img {
        width: 100%;
    }

    .navbar {
        font-size: 3vw;
    }
}